*~

elpa
config.el
network-security.data
recentf*
auto-save-list
tramp
bookmarks
.org-id-locations
.python-environments
ac-comphist.dat
irony
org-gcal
projectile-bookmarks.eld
projectile.cache
request
GPATH
GRTAGS
GTAGS
.ipynb_checkpoints
