<?xml version="1.0" encoding="UTF-8"?>
<!-- This goes in /Library/LaunchAgents/ -->
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>com.kaiyang.journal</string>
    <key>ProgramArguments</key>
    <array>
      <string>/Users/kaiyang/Documents/journal/journal.py</string>
    </array>
    <key>StandardOutPath</key>
    <string>/Users/kaiyang/Documents/journal/out.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/kaiyang/Documents/journal/err.log</string>
    <key>StartCalendarInterval</key>
    <dict>
      <!-- Sunday midnight -->
      <key>Minute</key>
      <integer>0</integer>
      <key>Hour</key>
      <integer>0</integer>
      <key>Weekday</key>
      <integer>0</integer>
    </dict>
  </dict>
</plist>
